name: Push to main [rishab-test-node-yarn-test]
run-name: ""
"on":
  push:
    branches:
      - main
jobs:
  build:
    runs-on:
      - ubuntu-latest
    steps:
      - id: harden-runner
        uses: step-security/harden-runner@v2.12.0
        with:
          egress-policy: audit
      - id: checkout
        name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - id: setup-node
        name: Setup Nodejs
        uses: actions/setup-node@v6
        with:
          architecture: ${{ matrix.node-arch }}
          cache: yarn
          node-version: ${{ matrix.node-version }}
      - id: install-dependencies
        name: Install Dependencies
        run: yarn install
      - id: vuln-scan
        name: Perform YARN Audit
        run: yarn audit --audit-level=moderate
        env:
          CI: true
      - id: node-build
        name: Build
        run: yarn run build
      - id: prepare-dist
        name: copy js
        run: |2-
          			mkdir -p dist
          			artifact="$(ls -1t dist/*.{js,cjs,mjs} 2>/dev/null | head -n1)"
          			ext="${artifact##*.}"
          			cp $artifact ./dist/rishab-test-node-test.$ext
      - id: upload-build
        name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: rishab-test-node-test-${{ needs.initialize.outputs.target_version }}-${{ matrix.node-os }}-${{ matrix.node-arch }}
          path: dist/*
    strategy:
      matrix:
        node-arch:
          - x64
        node-os:
          - linux
        node-version:
          - stable
    needs:
      - test
  containerize-rishab-test-node-test-build:
    runs-on:
      - ubuntu-latest
    name: Containerize rishab-test-node-test
    steps:
      - id: harden-runner
        uses: step-security/harden-runner@v2.12.0
        with:
          egress-policy: audit
      - id: checkout
        name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - id: download-artifacts
        name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          merge-multiple: true
          path: dist/
          pattern: rishab-test-node-test-${{ needs.initialize.outputs.target_version }}-${{ matrix.go-os }}-${{ matrix.go-arch }}
      - id: generate-dockerfile
        name: Generate Dockerfile
        run: |2
          build_path="$(ls -1t dist/rishab-test-node-test.{js,cjs,mjs} 2>/dev/null | head -n1)"
          build="$(basename "$build_path")"			
          cat <<-EOT > ./Dockerfile
          FROM node:{{ matrix.node-version}}-alpine
          WORKDIR /
          COPY --chown=node:node ["package.json", "yarn.lock", "./dist/$build", "./"]
          RUN yarn install
          CMD [ "$build" ]
          EOT
    strategy:
      matrix:
        node-arch:
          - x64
        node-os:
          - linux
        node-version:
          - stable
    needs:
      - build
    permissions:
      contents: read
      id-token: write
  test:
    runs-on:
      - ubuntu-latest
    steps:
      - id: harden-runner
        uses: step-security/harden-runner@v2.12.0
        with:
          egress-policy: audit
      - id: checkout
        name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - id: setup-node
        name: Setup Nodejs
        uses: actions/setup-node@v6
        with:
          architecture: ${{ matrix.node-arch }}
          cache: yarn
          node-version: ${{ matrix.node-version }}
      - id: install-dependencies
        name: Install Dependencies
        run: yarn install

      - id: install-mocha
        name: Install mocha
        run: yarn add mocha
      - id: node-test
        name: Run tests
        run: yarn test
    strategy:
      matrix:
        node-arch:
          - x64
        node-os:
          - linux
        node-version:
          - stable
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

